{% extends "base.html" %}

{% block title %}{{ quiz.title }} - Cloud Security Learning Hub{% endblock %}

{% block content %}
<h1 class="mb-4">{{ quiz.title }}</h1>
<p class="lead">{{ quiz.description }}</p>

<form method="POST" action="{{ url_for('quiz.submit_quiz', quiz_id=quiz._id) }}">
    {% for question in quiz.questions %}
    <div class="card mb-4">
        <div class="card-header bg-light">
            <h5 class="mb-0">Question {{ loop.index }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{ question.text }}</p>
            
            {% if question.type == 'multiple_choice' %}
                {% for option in question.options %}
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{ question._id }}" 
                           id="q{{ question._id }}_{{ loop.index }}" value="{{ option }}">
                    <label class="form-check-label" for="q{{ question._id }}_{{ loop.index }}">
                        {{ option }}
                    </label>
                </div>
                {% endfor %}
            {% elif question.type == 'true_false' %}
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{ question._id }}" 
                           id="q{{ question._id }}_true" value="True">
                    <label class="form-check-label" for="q{{ question._id }}_true">
                        True
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="{{ question._id }}" 
                           id="q{{ question._id }}_false" value="False">
                    <label class="form-check-label" for="q{{ question._id }}_false">
                        False
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
    <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
        <button type="submit" class="btn btn-primary btn-lg">Submit Answers</button>
    </div>
</form>
{% endblock %}
